div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.example-card {
  border: solid 1px;
  border-color: grey;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 4px 4px 15px rgb(216, 187, 187);
}