<div class="active-post">
    <mat-card class="example-card">

        <mat-card-title class="title">Title:</mat-card-title>
        <mat-card-content class="content">
            <p>{{activePost.title}}</p>
        </mat-card-content>

        <mat-card-title class="title">Author:</mat-card-title>
        <mat-card-content class="content">
            <p>{{activePost.author}}</p>
        </mat-card-content>

        <mat-card-title class="title">Content:</mat-card-title>
        <mat-card-content class="content">
            <p>{{activePost.content}}</p>
        </mat-card-content>

    </mat-card>
</div>